/* You can add global styles to this file, and also import other style files */

footer {
    color: black;
    background-color: #E5E7E9;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}


/* Style buttons */

.btn {
    background-color: DodgerBlue;
    /* Blue background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 12px 16px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: RoyalBlue;
}